<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>View RPS</title>
    <link rel="icon" href="../pic/icon-amikom.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>

<style>
    body {
        font-family: Helvetica, sans-serif;
    }

    .navbar-text {
        font-family: Helvetica, sans-serif;
        font-weight: bold;
        color: white;
    }

    footer {
        background-color: #555;
        color: white;
        padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
        .sidenav {
            height: auto;
            padding: 15px;
        }

        .row.content {
            height: auto;
        }
    }

    th {
        text-align: center;
    }

    .btn-create {
        margin-bottom: 10px;
    }

    .no_doc_rps h6 {
        font-size: 10px;
    }

    .kop td {
        border: 1px solid #bdc3c7;
    }
</style>

<body>
    <nav class="navbar" style="background-color: #7930A5;">

        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="#">
                <img src="../pic/logo-amikom.png" alt="Logo" width="150" height="50" class="d-inline-block align-text-top">
            </a>

            <span class="navbar-text">
                View RPS
            </span>

            <a href="../index.html">
                <button type="submit" class="btn btn-warning ms-auto">Kembali ke Dashboard</button>
            </a>
        </div>

    </nav>

    <div class="container-big px-3" id="PrintArea">
        <div class="card">
            <div class="row content">

                <table class="table text-center px-3">
                    <tr>
                        <td colspan="4" style="border-bottom: 1px #bdc3c7 solid;">
                            <h1 style="font-weight: bold;">RENCANA PEMBELAJARAN SEMESTER (RPS)</h1>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="padding: 1px;" class="no_doc_rps">
                            <h6 style="margin:0; padding: 0;">FM-PWEB-003/Rev.00/2 April 2023</h6>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><img src="../pic/logo-amikom-color.png" width="300"></td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <h4 style="margin:0; padding: 0; font-weight: bold;">MATA KULIAH : PERANCANGAN WEB 1 (DT003)
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <h4 style="margin:0; padding: 0; font-weight: bold;">Program Studi: D3 Teknik Informatika
                            </h4>
                        </td>
                    </tr>
                    <tr>
                        <td>No</td>
                        <td>Tgl Berlaku</td>
                        <td>Tgl Disusun</td>
                        <td>Revisi</td>
                    </tr>
                    <tr>
                        <td>RPS-DT-00</td>
                        <td>2 Juni 2023</td>
                        <td>2 April 2023</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td>Disetujui oleh
                            <p>Dekan Ilmu Komputer</p>
                        </td>
                        <td>Diperiksa oleh
                            <p>Kaprodi D3TI</p>
                        </td>
                        <td>Disusun oleh
                            <p>Koordinator MK</p>
                        </td>
                        <td>Dikendalikan oleh
                            <p>Sekprodi D3TI</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../pic/ttd.png" /><br>
                            <b><u>Dr. Mr. X, S.Kom, M.Kom</u></b>
                            <p>NIK. 123456789</p>
                        </td>
                        <td><img src="../pic/ttd.png" /><br>
                            <b><u>Dr. Mr. X, S.Kom, M.Kom</u></b>
                            <p>NIK. 123456789</p>
                        </td>
                        <td><img src="../pic/ttd.png" /><br>
                            <b><u>Dr. Mr. X, S.Kom, M.Kom</u></b>
                            <p>NIK. 123456789</p>
                        </td>
                        <td><img src="../pic/ttd.png" /><br>
                            <b><u>Dr. Mr. X, S.Kom, M.Kom</u></b>
                            <p>NIK. 123456789</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <h4 style="margin:0; padding: 0; font-weight: bold;">UNIVERSITAS AMIKOM YOGYAKARTA</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <h4 style="margin:0; padding: 0; font-weight: bold;">YOGYAKARTA</h4>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <h4 style="margin:0; padding: 0; font-weight: bold;">2023</h4>
                        </td>
                    </tr>

                </table>

                <br>

                <div class="kontenbawah px-3">
                    <table class="table text-center kop">
                        <tr>
                            <td rowspan="2">
                                <img src="../pic/logo-amikom-color.png" width="250">
                            </td>
                            <td style="padding-top: 45px;" rowspan="2">
                                <h5 style="font-weight: bold;">RENCANA PEMBELAJARAN SEMESTER (RPS)</h5>
                                <h5 style="font-weight: bold;">PROGRAM STUDI : D3 TEKNIK INFORMATIKA</h5>
                                <h6 style="font-weight: bold;">MATAKULIAH PERANCANGAN WEB 1
                                    <br>(DT003)
                                </h6>
                            </td>
                            <td>
                                <p>No</p>
                                <p>Tgl Disusun</p>
                                <p>Revisi</p>
                            </td>
                            <td>
                                <p style="text-align: justify;">: RPS-DT-00</p>
                                <p style="text-align: justify;">: 2 April 2023</p>
                                <p style="text-align: justify;">: 0</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Halaman</p>
                            </td>
                            <td>
                                1
                            </td>
                        </tr>
                    </table>
                    <div class="container-small">
                        <ol>
                            <li>
                                <b>Identitas</b>
                            </li>
                            <table class="table table-bordered fs-6 text" style="margin-top: 5px">
                                <tr>
                                    <td>Program Studi</td>
                                    <td>Teknik Informatika</td>
                                    <td>Semester</td>
                                    <td colspan="5">Genap (4)</td>
                                </tr>
                                <tr>
                                    <td>Nama & Kode Mata Kuliah</td>
                                    <td>Perancangan Web 1 - DT003</td>
                                    <td>Bobot SKS</td>
                                    <td colspan="5">4 SKS (2 Teori dan 2 Praktikum)</td>
                                </tr>
                                <tr>
                                    <td rowspan="3">
                                        Detail Presentase Perkuliahan
                                    </td>
                                    <td rowspan="3">
                                        <ul>
                                            <li>10% Keaktifan</li>
                                            <li>30% UTS</li>
                                            <li>30% UAS</li>
                                            <li>30% Tugas</li>
                                        </ul>
                                    </td>
                                    <td rowspan="3">
                                        Dosen Pengampu
                                    </td>
                                    <td colspan="5">Firman Asharudin, S.Kom., M.Kom.</td>
                                </tr>
                                <tr>
                                    <td rowspan="2">Klasifikasi Nilai</td>
                                    <td>>80%</td>
                                    <td>≥60 % 80≤</td>
                                    <td>≥40 % 60≤</td>
                                    <td>≥20 % 40≤</td>
                                    <td>20</td>
                                </tr>
                                <tr style="text-align: center;">
                                    <td>A</td>
                                    <td>B</td>
                                    <td>C</td>
                                    <td>D</td>
                                    <td>E</td>
                                </tr>
                            </table>
                            <br>
                            <li>
                                <b>Gambaran Umum</b>
                            </li>

                            <ul>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book. </li>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book.</li>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book.</li>
                            </ul>
                            <br>
                            <li>
                                <b>Capaian Pembelajaran</b>
                            </li>
                            <ul>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book. </li>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book.</li>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book.</li>
                            </ul>
                            <br>
                            <li>
                                <b>Prasyarat dan Pengetahuan Awal</b>
                            </li>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book.</p>

                            <li>
                                <b>Unit Pembelajaran Awal</b>
                            </li>
                            <table class="table table-bordered fs-6 text">
                                <tr>
                                    <th>Kemampuan Akhir yang diharapkan</th>
                                    <th>Indikator</th>
                                    <th>Bahan Kajian</th>
                                    <th>Metode Pembelajaran</th>
                                    <th>Waktu</th>
                                    <th>Metode Penilaian</th>
                                    <th>Bahan Ajar</th>
                                </tr>
                                <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>

                                </tr>
                                <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                </tr>
                                <br>

                            </table>
                            <li>
                                <b>Tugas/Aktivitas Penilaian</b>
                            </li>
                            <table class="table table-bordered fs-6 text">
                                <tr>
                                    <th>Kemampuan Akhir yang diharapkan</th>
                                    <th>Indikator</th>
                                    <th>Bahan Kajian</th>
                                    <th>Metode Pembelajaran</th>
                                    <th>Waktu</th>
                                    <th>Metode Penilaian</th>
                                    <th>Bahan Ajar</th>
                                </tr>
                                <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>

                                </tr>
                                <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                </tr>
                            </table>
                            <li>
                                <b>Referensi Pembelajaran</b>
                            </li>
                            <ul>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book. </li>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book.</li>
                                <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum
                                    has been the industry's standard dummy text ever since the 1500s, when an unknown
                                    printer took a galley of type and scrambled it to make a type specimen book.</li>
                            </ul>
                            <br>
                            <li>
                                <b>Rencana Pelaksanaan Pembelajaran</b>
                            </li>
                            <table class="table table-bordered fs-6 text">
                                <tr>
                                    <th>Minggu / Pertemuan</th>
                                    <th>Kemampuan Akhir yang Diharapkan</th>
                                    <th>Indikator</th>
                                    <th>Topik & Sub Topik</th>
                                    <th>Aktifitas dan Strategi Pembelajaran</th>
                                    <th>Waktu</th>
                                    <th>Bahan Ajar</th>
                                </tr>
                                <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>

                                </tr>
                                <tr>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                    <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed modi vero atque
                                        voluptatum est voluptatibus.</td>
                                </tr>
                            </table>
                        </ol>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="sticky-bottom" style="background-color: #7930A5;">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-12">
                    <a href="../create/index.html">
                        <button type="button" class="btn btn-warning">Edit RPS</button>
                    </a>
                    <button type="button" class="btn btn-warning" onclick="printDiv('PrintArea')">Print</button>
                </div>
            </div>
        </div>
    </footer>

    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;

            document.body.innerHTML = printContents;

            window.print();

            document.body.innerHTML = originalContents;
        }
    </script>
    <script src="../bootstrap/js/bootstrap.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>

</body>

</html>